$fa-font-path = "../bower_components/font-awesome/fonts"

@import "../bower_components/font-awesome-stylus/stylus/index.styl"
@import "_lib/_variables.styl"
@import "_lib/_elements.styl"
@import "_base/*"

body
  background gris
  font-size 62.5%
  margin 0