section
	background-color gris
	position relative
	z-index 5

.contenido
	font-size 1.6rem
	padding-top 5rem
	padding-bottom 5rem
	text-align center
	position relative
	
.contenido__title
	font-size 4rem
	font-weight bold
	text-transform uppercase
	margin 0
	margin-top 1rem
	
	&:after, &:before
		content "\2014"
		
	&:after
		padding-left 20px
		
	&:before
		padding-right 20px
		
.contenido__subtitle
	font-size 2.8rem
	margin-top 4rem
		
.contenido__content
	margin-top 4.5rem
	width 100%
	
.contenido__content--bg
	background-color amarillo
	
.contenido__image
	background-position center center
	background-size 100% 100%
	heigth 300px
	width 290px	
	
.contenido__padding--top
	padding-top 2rem
	
.contenido__padding--bottom
	padding-bottom 2rem
	
.contenido__margin--top
	margin-top 2rem
	
.contenido__margin--none-top
	margin-top 0

.contenido__box
		margin-bottom 3rem
	

@media screen and (max-width: 991px)

	.contenido__box
		margin-bottom 3rem
