footer
	background-color negro
	color gris_oscuro
	font-size 1.6rem
	
.footer__networks
	font-size 4rem
	text-align right
	
.footer__copy
	padding-top 1.52rem
	
.footer__copy,
.footer__networks
	margin-top 2rem
	

@media screen and (max-width: 770px)
	footer,
	.footer__networks
		text-align center