.link
	color negro

.link-yellow
	color amarillo
	
.link-white
	color blanco
	
.link--bold
	font-weight bold
	

.button
	padding 0.5rem 1.5rem
	
.button-yellow
	color negro
	background-color amarillo
	font-weight bold
	
	&:hover
		color inherit
		background-color #CFB315
		text-decoration none
		
.button-black
	color blanco
	background-color negro
	font-weight bold
	
	&:hover
		color inherit
		background-color #A2A2A2
		text-decoration none