<header>
	<!-- <div class="header__trapecio-sup"></div> -->
	<div class="header_inferior">
		<div class="container">
			<a class="header__logo" href="/">
				<img class="header__logo-img" src="images/logo.png" alt="logo de miel y cera">
			</a>
			<nav class="pull-right header__nav">
				<li>
					<a href="">Inicio</a>
				</li>
				<li>
					<a href="">¿Quienes somos</a>
				</li>
				<li>
					<a href="">Productos</a>
				</li>
				<li>
					<a href="">Noticias</a>
				</li>
				<li>
					<a href="">Contactos</a>
				</li>
			</nav>
		</div>
	</div>
	<div class="adorno_inferior"></div>
</header>
