<section>
  <div class="container contenido">
    <h2 class="contenido__title">Nos distingue</h2>
    <div class="row contenido__content">
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/calidad2.png" alt="">
        <p class="contenido__subtitle">Calidad</p>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/produccion2.png" alt="">
        <p class="contenido__subtitle">Producción</p>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/tecnologia2.png" alt="">
        <p class="contenido__subtitle">Tecnología</p>
      </div>
    </div>
  </div>
</section>

<section class="contenido__content--bg">
  <div class="container contenido">
    <h2 class="contenido__title">Nuestros productos</h2>
    <div class="row contenido__content">
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/presentaciondeproductos.png" alt="" class="contenido__image" style="background-image: url('/images/honey.jpg');">
        <p class="contenido__subtitle">Producto 1</p>
        <p class="contenido__padding--top contenido__padding--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-black">Leer más</a>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/presentaciondeproductos.png" alt="" class="contenido__image" style="background-image: url('/images/honey.jpg');">
        <p class="contenido__subtitle">Producto 2</p>
        <p class="contenido__padding--top contenido__padding--bottom">Losrem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-black">Leer más</a>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <img src="/images/presentaciondeproductos.png" alt="" class="contenido__image" style="background-image: url('/images/honey.jpg');">
        <p class="contenido__subtitle">Producto 3</p>
        <p class="contenido__padding--top contenido__padding--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-black">Leer más</a>
      </div>
    </div>
  </div>
</section>

<section class="contenido_noticias--home">
  <div class="container contenido">
    <h2 class="contenido__title">Noticias</h2>
    <div class="row contenido__content">
      <div class="col-lg-4 col-md-4 contenido__box">
        <p class="contenido__subtitle contenido__margin--none-top">Noticia 1</p>
        <p class="contenido__padding--top contenido__padding--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-yellow">Leer más</a>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <p class="contenido__subtitle contenido__margin--none-top">Noticia 2</p>
        <p class="contenido__padding--top contenido__padding--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-yellow">Leer más</a>
      </div>
      <div class="col-lg-4 col-md-4 contenido__box">
        <p class="contenido__subtitle contenido__margin--none-top">Noticia 3</p>
        <p class="contenido__padding--top contenido__padding--bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quibusdam, sit optio excepturi molestias, rerum ipsam autem, asperiores tenetur error qui!</p>
        <a href="" class="button button-yellow">Leer más</a>
      </div>
    </div>
  </div>
</section>
